:root {
    --dark-background: #bbb;
    --light-background: #cccccc;
    --link-col: #1ba751;
    --nav-link-col: #0d45bd;
    --link-growth: 125%;
    --link-shrink: 80%;
}

body {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--link-col);
}

#navbar {
    position: sticky;    
    top: 1vw;
    margin: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center; 
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#navbar a{
    flex: 1;
    padding: 1vw 0vw;
    background-color: var(--light-background);
    transition: .1s ease-out;
}

#navbar a:hover {
    background-color: var(--dark-background);
    transition: .1s ease-in;
}

#content {
    display: grid;
    grid-gap: 2vw;
    margin: 1vw;
    /* grid-template: repeat(1, 2fr); */
}

#content a {
    line-height: var(--link-growth);
    font-size: 100%;
    transition: .25s ease-out;
}

#content a:hover {
    line-height: var(--link-shrink);
    font-size: var(--link-growth);
    transition: .25s ease-in;
}

#overview {
    font-size: 150%;
    font-weight: bold;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#portrait {
    background-image: url("../imgs/me.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

#detail {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    overflow: hidden; 
    max-width: auto;    
}

#links {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    text-align: center; 
    display: flex;
    flex-direction: row;
    flex-basis: 
}

#links a {
    
}

/* #links img {
    transform: scale(1);
    transition: .2s ease-out
}

#links img:hover {
    transform: scale(.95);
    transition: .1s ease-in;
} */
