@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: justify;
    margin: 0;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

}

#navbar>a {
    flex: 1;
    padding: 2vw 0;
    margin: 1vh 2vw;
    font-size: 5vh;
    border-radius: 5px;
    color: black;
    background: rgba(0, 0, 0, 0.178);
    transition: .25s ease-in-out;
}

#navbar>a:hover {
    background-color: rgba(94, 94, 94, 0.25);
    transform: scale(1.05);
}

#content a:visited,
#content a:link {
    color: rgb(0, 144, 240)
}

#intro {
    padding: 4vw;
}

@media only screen and (max-width:600px) {
    #intro {
        display: block;
        text-align: center;
    }

    #links>a>img {
        height: 10vw;
        width: 10vw;
        margin: 5vw 2vw;
    }

    #portrait>img {
        margin-top: 4vw;
        border-radius: 3vw;
        width: 80vw;
    }

    #scroll-container {
        display: none
    }
}

@media only screen and (min-width:600px) {
    #intro {
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        grid-template: repeat(5, 1fr)/repeat(2, 1fr)
    }

    #scroll-container {
        font-size: 325%;
        width: 40vw;
        height: 20vh;
        /* justify-content: center; */
    }

    #scroll {
        max-width: 80%;
        height: 80%;
        margin: 0 auto;
    }

    #links {}

    #links>a>img {
        height: 4vw;
        width: 4vw;
        margin: 1vw;
    }

    #portrait>img {
        border-radius: 3vw;
        width: 20vw;
    }
}

.banner {
    overflow: hidden;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 9vh;
    left: 2vw;
    color: white;
    font-size: 5vh;
}

.banner-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 300%;
    height: 20vh;
}

#description .banner-image {
    background-image: url(../imgs/mke.jpg);
}

#expertise .banner-image {
    background-image: url(../imgs/code.png);
}

#robots .banner-image {
    background-image: url(../imgs/team.jpg);
}

.banner-image::before {
    content: "";
    background-color: rgba(27, 81, 230, 0.575);
    height: 100%;
    width: 100%;
    display: block;
}

.section {
    padding: 4vw;
}

#footer {
    text-align: center;
    padding: 1vw;
    top: 2vw;
}